/* picture main menu */
.picture-body {
    background-image: url(images/main-background.png);
   max-height: 750px;
    max-width: 1200px;
    margin: auto;  
       overflow-y: hidden;  
}

.picture-main, .transportation-main, .pick-main, .bus-main{
    position: relative;
     display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.picture-nav a {
    display:inline-block block;
    padding: 20px;
    text-decoration: none;
}

.picture-nav .home {
    position: absolute;
    left: -100px;
    bottom: 100px;
}

.picture-nav .next {
     position: absolute;
    right: -100px;
    bottom: 100px;
}

.thought-bubbles {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.thought-one, .thought-two {
    position: absolute;
    margin: 10px;
    width: 300px;
    line-height: 2em;
    padding: 20px;
}

.thought-one {
    left: 20px;
    bottom: 50%;
}

.thought-two {
    right: 20px;
    bottom: 50%;
}

.my-head {
    max-width: 100%;
    width: 600px;
}

.decorations {
    position: absolute;
}



/* transportation page */

.transportation-body {
    background-image: url(images/room-background.png);
    background-position: center;
   max-height: 750px;
    max-width: 1200px;
    margin: auto;  
       overflow-y: hidden;  
}


.transportation-options {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 150px;
}

.transportation-options .keys img,.transportation-options .bus img {
    max-width: 100%;
    width: 400px;
}

.transportation-options .bus img {
    rotate: calc(20deg);
}

.transportation-options .specs {
    margin: 0;
    padding: 0;
}

/* .transportation-options .keys .specs{
    position: absolute;
}

.transportation-options .bus .specs {
    position: absolute;
} */


/* bus spot  */
.bus-body {
        background-image: url(images/bus-background.png);
   max-height: 750px;
    max-width: 1200px;
    margin: auto;  
       overflow-y: hidden; 
}



/* pick a spot */

.pick-body {
   background-image: url(images/place-background.png);
   max-height: 750px;
    max-width: 1200px;
    margin: auto;  
       overflow-y: hidden; 

}


.spot-options {
    gap: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.spot-text p{
    width: 300px;
}