body {
    /* background-image: url(images/portal_background.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%; */
    margin: auto;
    background-color: #F2DDC2;
    /* background-position: 50%; */
    height: auto;
    width: auto;
}


header {
    background-color: #A5904D;
    padding: 20px;
}

main { 
    position: relative;
    z-index: 1;
    margin: 50px 150px;
    background-color: #724130;
    border: #623323 5px solid;
    padding: 20px;
    border-radius: 20px;
}

.layout {
    display: flex; 
    align-items: flex-start;
    gap: 30px; 
}

h1 {
    font-family: "Mali";
  font-weight: 400;
  font-size: 35px;
  margin: 0 auto;
}

h3 {
    font-family: "Benne", serif;
  font-weight: 400;
}

.left-side, .right-side  { 
    display: flex; 
    padding: 10px;
    /* padding: 0 80px; */
    flex-direction: column;
    align-items: center;
    /* margin: auto 20px; */
    justify-content: center;
    max-width: 100%;
}


.left-side {
    margin: 0;

}

.left-side img {
    max-width: 100%;
    width: 300px;
    background-color: #a0b4c5;
    border: #D9933D 10px solid;
    border-radius: 20px;
}


/* .right-side {
    background-color: #D98282;padding: 20px;
} */

.right-side ul {
    font-family: "Mali";
  font-weight: 600;
       display: flex;
       flex-direction: column;
    gap: 20px;
    padding: 0;
    align-items: center;
}

.right-side ul li { 
    
      border-radius: 10px;
      font-size: 20px;
    list-style-type: none;
    padding: 45px;
    width: 400px;
    max-width: 100%;
    text-align: center;
}

.right-side ul li a {
      color: #521904;
}

.sticky-notes {
    position: sticky;
    padding-left: 0;
    margin-left: 0;
}

.right-side ul li a, .sticky-notes ul li a { 
    text-decoration: none;
}

.sticky-notes ul {
    position: absolute;
    padding: 0;
    z-index: -1;
    display:flex;
    flex-direction: column;
    gap: 5px;
   left: 40px
}

.sticky-notes ul li {
     list-style-type: none;
     padding: 30px;
     border-radius: 0 10px 10px 0;
}

.red {
    background-color: #D98282;
}

.orange {
    background-color: #FFB03A;
}

.yellow {
background-color:#FFF0A5 ;
}

.green {
background-color: #468966;
}

.line {
    z-index: 1;
    /* position: absolute; */
    width: 5px;
    max-width: 100%;
    max-height: 100%;
    height: 750px;
    padding: 1px;
    background-color: #E9DCCA;

}

.paper {
    position: relative;
    z-index: -1;
    /* gap: 10px; */
    margin: 20px auto;
    max-width: 100%;
    /* padding: 20px; */
    background-color: #FFF8EE;
    border: #E9DCC9 5px solid;
    border-radius: 15px;
    display: flex; 
    /* align-items: center; */
    justify-content: space-around;
}

 
footer {
    background-color: #A5904D;
    max-width: 100%;

  padding: 20px;
}