body {
    min-height: auto;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #bae1ff;
}







h2 {
    margin-bottom: 50px;
}
article {
      display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 400px; 
    height: 450px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border: 3px solid #a2b7f4;
    padding: 20px;
    margin-bottom: 60px; 
    opacity: 0; 
    transition: 1s;
    background-color:#fffef4 ;
    border-radius: 10px;
    font-family:'Times New Roman', Times, serif;
    transform: translateY(40px);
}

article img {
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

article p {
    font-size: 18px;
}

article.show {
    opacity: 1; 
    transition: 1s; 
    transform: translateY(0);
}