body {
    position: relative;
    /* background-image: url(images/portal_background.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%; */
    margin: auto ;
   background: url(images/background\ \(1\).png);
   background-repeat: no-repeat;
    /* background-position: 50%; */
   overflow-x: hidden;

}

.banner h1 {
    display: none;
}



.banner {
    position: relative;
    background: url(images/banner\ \(2\).png);
    background-repeat: repeat-x;
    height: 113px;
    z-index: 3;
    /* animation: move 2s infinite ease-in-out; */

}

@keyframes move {
    0% {
       transform: translateX(-1px);
     
    }

    50% {
        transform: translateX(1px);


    }

    100% {
        transform: translateX(-0.5px);
    }
    
}

.sign {
    position: relative;
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    animation: swing 2.5s infinite ease-in-out;
}

@keyframes swing {
    0% {
        rotate: -6deg;
    }


    50% {
        rotate: 6deg;
    }

    100% {
        rotate: -6deg;
    }

    
}

.sign p {
    z-index: 3;
    font-size: 30px;
    text-align: center;
    line-height: 1.5em;
    position: absolute;
    top: -32px;
      font-family: "Chiron GoRound TC", sans-serif;
  font-weight:900;
  color: #383c10;
}
.sign img {
    position: absolute;
    max-width: 100%;
    width: 300px;
    top: -170px;
}

main { 
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    margin: 150px auto 20px;
    width: 1200px;
    height: 625px;
    background-color: #724130;
    border: #623323 5px solid;
    padding: 20px;
    border-radius: 20px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.home a {
    position: absolute;
    padding: 20px;
    background-color: rgb(255, 104, 104);
    border-radius: 15px;
   left: -70px;
   top: 45%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
     list-style-type: none;
     padding: 30px;
     width: 200px;
     border-radius: 8px 8px 0px 0px;
}

.home a:hover {
    transform: scale(1.1);
}
.home a img {
    max-width: 100%;
    width: 35px;


}
.layout {
    display: flex; 
    align-items: flex-start;
    /* gap: 30px;  */
}
.left-side h2, .right-side h2{
    text-align: center;
    color: #877965;
     font-family: "Chiron GoRound TC", sans-serif;
  font-weight: 800;
  font-size: 35px;
  background-color: #E9DCC9;
  padding: 20px;
  border: #dacbb6 5px solid ;
  margin: 10px 0;
  border-radius: 5px;
  /* margin: 20px auto; */
}

.left-side h2:hover, .right-side h2:hover {
    animation: shake 0.3s ease-in-out;
}

.left-side .madlibs {
    width: 555px;
    max-width: 100%;
   border-radius: 10px;
      border: #dacbb6 5px solid ;
}
.left-side .madlibs:hover {
  animation: shake 0.5s ease-in-out;
}

.left-side .clouds {
      opacity: 0.7;
    z-index: -1;
        max-width: 100%;
        width: 600px;
    position: absolute;
    top: -25px;
    right: 4px;
}

.left-side .grass {
    max-width: 100%;
    width: 600px;
    z-index: 
    -1;
    position: absolute;
    bottom: -25px;
    left: -1px;
    border-radius: 0 0 0px 10px;
}

.left-side, .right-side  { 
    display: flex; 
    /* padding: 10px; */
    /* padding: 0 80px; */
    flex-direction: column;
    align-items: center;
    /* margin: auto 20px; */
    justify-content: center;
    max-width: 100%;
    width: 50%;
}


.left-side {
    position: relative;
    margin: 20px  auto;
    border-radius: 15px;
    gap: 5px;
 
    /* border: 5px solid rgb(159, 187, 152); */
}


.links {
    position: absolute;
    
    
}

.links ul li  {
         box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 20px;
     font-family: "Mali";
color: #8e2c2c;
 border: 5px #8e3f22 dashed;
  font-weight: 500;
    text-align: center;
    display: block;
    line-height: 1.5em;
        padding: 40px;
        width: 300px;
        border-radius: 10px;
        background-color: #d5724d;
           border: 5px #a54c2c dashed;
          margin-bottom: 20px;
         
         
}


.links ul {
    
    list-style-type: none;
     padding-left: 0;
     
}


.links a {
 color: #882c2c;
}

.links li:hover {
    border: 5px #8e3f22 dashed;
        transform: scale(1.1);
        background-color: #A54B29;
 
}

.links li:hover a {
   color: #540404;
}

.links li a {
    text-decoration: none;

}







.writing {
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding:10px;
    height: 500px;
    border: #eedec8 5px solid ;
    text-align: center;
    line-height: 2em;
    border-radius: 20px;
    background-color: rgb(255, 237, 220);
    color: rgb(158, 52, 52);
}

.right-side a:hover {
    color: rgb(255, 223, 223);
     border: 4px rgb(195, 125, 125) solid;
    background-color: rgb(216, 152, 152);
}

@keyframes pop {
    0%{
        transform:scale(0.5);
    }

    50% {
        transform:scale(1.2);
    }
    
    100% {
        transform:scale(1);
    }
}


 .cat {
    max-width: 100%;
    width: 125px;
    position: absolute;
   bottom: 225px;
    right: 2px;
}






.sticky-notes {
    position: sticky;
    margin-left: 0;
     position: absolute;
    right: -20px;
}

.right-side ul li a, .sticky-notes ul li a { 
    text-decoration: none;
    
}

.sticky-notes ul {
    display:flex;
    flex-direction: column;
    gap: 15px;
   left: 40px;

}

.sticky-notes ul:hover {

    animation: slide 0.75s ease-in-out forwards;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
    
}


.sticky-notes ul li {
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
     list-style-type: none;
     padding: 30px;
     width: 200px;
     border-radius: 0 8px 8px 0;
}



.red{
    background-color: #D98282;
}

.orange {
    background-color: #FFB03A;
}

.yellow {
background-color:#FFF0A5 ;
}

.green {

 background-color: #A54B29;
}



.line {
    z-index: 1;
    position: absolute;
    /* padding-top: 0;
    margin: 0; */
    top: 0px;
    width: 5px;
    max-width: 100%;
    max-height: 100%;
    height: 610px;
    padding: 1px;
    background-color: #E9DCCA;

}

.paper {
    
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
    gap: 10px;
    margin: auto;
    max-width: 100%;
   height: 600px;
    padding: 5px;
    background-color: #FFF8EE;
    border: #E9DCC9 5px solid;
    border-radius: 15px;
    display: flex; 
    /* align-items: center; */
    justify-content: space-around;
}



@keyframes shake {
    0% {
        rotate:calc(-3.5deg);
    }

    50% {
        rotate: calc(3.5deg);
    }

    100% {
        rotate: calc(-3.5deg);
    }
}







footer {
    background: url(images/footer\ \(4\).png);
    height: 200px;
    padding: 20px;
    display: flex; 
    flex-direction: column;
   gap: 5px;
   justify-content: center;
   align-items: center;
    text-align: center;
}


footer p {
     font-family: "Chiron GoRound TC", sans-serif;
  font-weight:900;
      color: #383c10;
     font-size: 22px;
}


.footer-connect a {
      font-family: "Mali";
    font-weight: 600;
 background-color:#eadfa5 ;
 border: 4px rgb(222, 197, 123) solid;
    padding: 20px;
    display: inline-block;
    width: 200px;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(199, 151, 7);
    margin: 10px;
}

.right-side .design-comp {
    max-width: 100%;
    width: 545px;
    border-radius: 10px;
   
     border: 5px rgb(193, 181, 146) solid;
}

.right-side .design-comp:hover {
      animation: shake 0.5s ease-in-out;

}
.right-side .clouds {
    opacity: 0.7;
    z-index: -1;
        max-width: 100%;
        width: 600px;
    position: absolute;
    top: -1px;
    right: -0px;
}

.right-side .grass{
z-index: -1;
    max-width: 100%;
    width: 600px;
    position: absolute;
    bottom: 1px;
    right: 2px;
    border-radius: 0 0px 10px 0px;
}

.footer-connect a:hover {
    transform: scale(1.05);
     background-color:#eddb85 ;
}



/* ------MadLibs V1-------- */

header {
    display: none;
}
.madlibs-body {
    background: url(images/intro.png);
    margin: auto;
    background-position: center;
    background-size:cover;
    overflow-y: hidden;

}

.madlibs-play-body {
      background: url(images/madlibs-background.png);
    margin: auto;
    background-position: center;
    background-size:cover;
    overflow-y: hidden;
}

.madlibs-main, .madlibs-play {
    /* padding: 20px; */
    
    position: relative;
    display: flex;
    flex-direction: column;
    background: none;
    border: none;
    /* width: 1200px;
    height: 625px; */
    padding: 20px;
    width: auto;
    border-radius: 0;
    /* margin: 15px 50px; */
    margin: 20px;
    justify-content: center;
    align-items: center;
    box-shadow: none;
}


.madlibs-play {
    /* padding: 20px; */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    /* flex-direction: row; */
    /* width: 1200px;
    height: 625px; */
    padding: 20px;
    width: auto;
    border-radius: 0;
    box-shadow: none;
}


.madlibs-play .left {

    z-index: -1;

}

.madlibs-play .left .saturn {
max-width: 100%;
width: 200px;
position: absolute;
left: 0;
top: 0;
rotate: calc(-20deg);
animation: float 2s ease-in infinite;
}


.purple-ship-play {
    position: absolute;
    max-width: 100%;
    width: 150px;
    left: 165px;
    z-index: 1;
    bottom: 170px;
}

.purple-ship-play:hover {
    animation: hop 1s ease-in-out;
}

@keyframes hop {
      0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}
  




.madlibs-play .moon {
    position: absolute;
    max-width: 100%;
   width: 650px;
   left: -90px;
   bottom: -400px;
   animation: rotation 50s linear infinite;
}
.madlibs-play .pink-planet {
    max-width: 100%;
    width:230px;
    top:40px;
    left: 190px;
    position: absolute;
    animation: float 3s ease infinite;
}
.madlibs-play .right-enter {
    max-height: 600px;
     border-radius: 15px;
    padding: 15px;
    position: absolute;
    width: 65%;
    margin: 10px;
    right: 0px;
    bottom: 0px;
   box-shadow: 
        0 0 20px rgba(240, 120, 198, 0.6),
        0 0 40px rgba(246, 116, 200, 0.4),
        0 0 80px rgba(250, 121, 205, 0.2);
    background-color: rgb(151, 78, 151);
    /* width: 950px; */
}


.alert {
    font-size: 25px;
}

label, input {
    display: inline-block;
}


.form-fields #submit-button {
      display: block;
      text-align: center;
      height: 90px;
    margin-left: auto;
    width: 500px;
    padding: 15px;
margin: 20px auto;
 width: 300px;
    padding: 15px;
 color: rgb(126, 67, 126);
 border: 3px solid rgb(178, 85, 178);
    font-family: "IBM Plex Sans", sans-serif;
   background-color: rgb(255, 220, 255); 
  font-weight: 800;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(102, 45, 71, 0.1);
}

.form-fields .form-labels, .form-fields #submit-button {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

}

.form-fields .form-labels {
    font-size: 20px;
    font-weight: 500;
}

.form-fields label, .form-fields input, .form-fields select {
    width: 60%; 
    text-align: center;
    height: 50px;

}


.form-fields #submit-button:hover  {
        transform: scale(1.1);
    background-color: rgb(238, 159, 238);
    border: 4px solid rgb(188, 96, 188);
    color: rgb(113, 64, 113);
}


fieldset input, fieldset label {
    display: inline;
}
.madlibs #submit-button {
    display: block;
    margin-left: auto;
    width: 500px;
    padding: 15px;
 color: rgb(126, 67, 126);
 border: 3px solid rgb(178, 85, 178);
    font-family: "IBM Plex Sans", sans-serif;
  
   background-color: rgb(255, 220, 255); 
  font-weight: 800;
    border-radius: 10px;
}

.madlibs #submit-button:hover {
    transform: scale(1.1);
    background-color: rgb(238, 159, 238);
    border: 4px solid rgb(188, 96, 188);
    color: rgb(113, 64, 113);
}
.right-enter .story {
    max-height: 500px;
    overflow-y: scroll;
         box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
 background-color: rgb(253, 231, 244);
 font-size: 17px; 
padding: 45px;


 text-align: left;
   line-height: 2.5em;
   border-radius: 15px;
    color: rgb(57, 18, 57);
    font-family: "IBM Plex Sans", sans-serif;
 
  font-weight: 400;
}

.right-enter .story h2 {
    display: none;
}

.game-title {
    max-width: 100%;
    width: 550px;
    margin: 0px auto 25px auto;
    display: block;
    animation: pop 0.5s ease-in-out;
   
}
.madlibs-play .purple {
    position: absolute;
    max-width: 100%;
    width: 500px;
    right: -100px;
      animation: float 2.5s ease infinite;
}


.madlibs-play .captain {
    position: absolute;
    max-width: 100%;
   width: 80px;
   left: 50px;
   bottom: 50px;
   animation: cat 6s linear infinite;
}

@keyframes cat {
   0% {
    transform: translateY(-100px) rotate(-5deg);
  }

  25% {
    transform: translateY(-250px) rotate(3deg);
  }

  50% {
    transform: translateY(-210px) rotate(-2deg);
  }

  75% {
    transform: translateY(-250px) rotate(2deg);
  }

  100% {
    transform: translateY(-100px) rotate(-5deg); /* same as 0% */
}

}

.madlibs-main .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.madlibs-main .ship {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotate(115deg);
    top: -80px;
    right: 350px;
    animation: fly 3s linear infinite;
    z-index: -1;
}





.madlibs-main .purple-ship {
    max-width: 100px;
}

.ship  .fire {
    max-width: 100px;
    transform: rotate(-90deg);
    position: relative;
    top: -30px;
    z-index: -2;
    animation: burn 5s ease-in infinite;

   
}

@keyframes fly {
0% {
    transform: translate(0px, 0px) rotate(115deg);
    opacity: 0;
  }

  25% {
    transform: translate(90px, 40px) rotate(122deg);
    opacity: 0.8;
  }

  50% {
    transform: translate(180px, 85px) rotate(130deg);
    opacity: 1;
  }

  75% {
    transform: translate(250px, 140px) rotate(150deg);
    opacity: 1;
  }

  90% {
    opacity: 0.5;
  }
  100% {
    transform: translate(320px, 250px) rotate(185deg);
    opacity: 0;
  }
}

@keyframes burn {
    0%{
        opacity: 0.2;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity:0.2;
    }
    
}

 .purple-planet {
    bottom: -200px;
    position: absolute;
    max-width: 100%;
    right: -150px;
    width: 500px;
  animation: opposite-float 3s ease infinite;
    
}


.saturn-planet{
    z-index: -1;
    top: -200px;
    left: -200px;
    position: absolute;
    rotate: calc(25deg);
    width: 620px;
    animation: float 5s ease infinite;
}

@keyframes float {
     0%   { transform: translateY(0px); }
  50%  { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
    
}


@keyframes opposite-float {
     0%   { transform: translateY(0px); }
  50%  { transform: translateY(10px); }
  100% { transform: translateY(0px); }
    
}

 .squiggly-planet  {
  position: absolute;
    bottom: -150px;
    left: -150px;
    max-width: 100%;
    width: 350px;
    animation: rotation 40s linear infinite;

}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
    
}

@keyframes opposite-rotation {
    from {
        transform: rotate(-360deg);
    }

    to {
        transform: rotate(0deg);
    }
    
}

.comets {
    max-width: 400px;
    position: absolute;
    bottom: -35px;
    left: 85px;
    rotate: calc(-10deg);
    animation: shooting 5s ease-in infinite;
}

@keyframes shooting {
   0% {
        transform: translate(0, 0) rotate(0deg) scale(1);
        opacity: 0;
    }

    10% {
         opacity: 1;
    }
    30% {
        transform: translate(300px, 150px) rotate(5deg) scale(1.1);
    }

    60% {
        transform: translate(600px, 300px) rotate(10deg) scale(1.2);
        opacity: 1;
    }

    75% {
        transform: translate(680px, 450px) rotate(20deg) scale(1.1);
        opacity: 0.8;
    }

    90% {
        transform: translate(750px, 580px) rotate(28deg) scale(0.95);
        opacity: 0.5;
    }

    100% {
        transform: translate(800px, 650px) rotate(35deg) scale(0.8);
        opacity: 0;
    }
}

.intro h1 {
    display: none;
}

.game-title{

    /* fix the font- change it to something else */
    
  animation: pop 1s ease-in-out;
  max-width: 100%;
  width: 700px;

}

@keyframes pop {

    0% {
        opacity: 0;
        transform: scale(0.9) translateY(30px);
        filter: blur(6px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
        filter: blur(0);
    }
}
    


.madlibs-main a {
    color: rgb(126, 67, 126);
    font-family: "IBM Plex Sans", sans-serif;

  font-weight: 800;
    text-align: center;
    border-radius: 50px;
    font-size: 25px;
    display: block;
    width: 300px;
    padding: 25px;
    border: 4px solid rgb(178, 85, 178);
    text-decoration: none;
    background-color: rgb(250, 207, 233); 
   animation: pop 1s ease-in-out;
}



.madlibs-main a:hover {
    transform: rotate(2deg) scale(1.1);
    transition: 0.3s ease;
    background-color: rgb(238, 143, 238);
    border: 4px solid rgb(188, 94, 188);
    color: rgb(113, 64, 113);
}

.mad-footer {
    display: flex; 
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 5px;
    padding-bottom: 0;
    background-image: none;
       margin: 0;
}

.mad-footer a {
    display: flex; 
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    padding: 20px; 
    border: 3px solid rgb(178, 85, 178);
    font-family: "IBM Plex Sans", sans-serif;

   background-color: rgb(255, 220, 255);
   animation: pop 1s ease-in-out;

}

.mad-footer a:hover {
    transform: scale(1.1);
    background-color: rgb(238, 159, 238);
    border: 4px solid rgb(188, 96, 188);
    color: rgb(113, 64, 113);
}
.mad-footer img {
    max-width: 100%;
    width: 30px;
}




#adj, #adverb2, #adverb3, #noun1, #noun2, #noun3, #planet1, #planet2, #planet3, #food {
    background-color: rgb(254, 229, 254); 
    margin-bottom: 20px;
    font-weight: 400;
 
     box-shadow: 0 4px 4px 0 rgba(102, 45, 71, 0.1);

    color:rgb(62, 2, 62);
}