body {
    position: relative;
    /* background-image: url(images/portal_background.png);
    background-repeat: no-repeat;
    background-size: contain;
    max-width: 100%; */
    margin: auto ;
   background: url(images/background\ \(1\).png);
   background-repeat: no-repeat;
    /* background-position: 50%; */
   overflow-x: hidden;

}

.banner h1 {
    display: none;
}



.banner {
    position: relative;
    background: url(images/banner\ \(2\).png);
    background-repeat: repeat-x;
    height: 113px;
    z-index: 3;
    /* animation: move 2s infinite ease-in-out; */

}

@keyframes move {
    0% {
       transform: translateX(-1px);
     
    }

    50% {
        transform: translateX(1px);


    }

    100% {
        transform: translateX(-0.5px);
    }
    
}

.sign {
    position: relative;
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

    animation: swing 2.5s infinite ease-in-out;
}

@keyframes swing {
    0% {
        rotate: -6deg;
    }


    50% {
        rotate: 6deg;
    }

    100% {
        rotate: -6deg;
    }

    
}

.sign p {
    z-index: 3;
    font-size: 30px;
    text-align: center;
    line-height: 1.5em;
    position: absolute;
    top: -32px;
      font-family: "Chiron GoRound TC", sans-serif;
  font-weight:900;
  color: #383c10;
}
.sign img {
    position: absolute;
    max-width: 100%;
    width: 300px;
    top: -170px;
}

main { 
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    margin: 150px auto 20px;
    width: 1200px;
    height: 625px;
    background-color: #724130;
    border: #623323 5px solid;
    padding: 20px;
    border-radius: 20px;
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.home a {
    position: absolute;
    padding: 20px;
    background-color: rgb(255, 104, 104);
    border-radius: 15px;
   left: -70px;
   top: 45%;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
     list-style-type: none;
     padding: 30px;
     width: 200px;
     border-radius: 8px 8px px 0;
}

.home a:hover {
    transform: scale(1.1);
}
.home a img {
    max-width: 100%;
    width: 35px;


}
.layout {
    display: flex; 
    align-items: flex-start;
    /* gap: 30px;  */
}

.left-side h2 {
    text-align: center;
    color: #877965;
     font-family: "Chiron GoRound TC", sans-serif;
  font-weight: 800;
  font-size: 35px;
  background-color: #E9DCC9;
  padding: 20px;
  border: #dacbb6 5px solid ;
  border-radius: 5px;
  /* margin: 20px auto; */
}

.left-side h2:hover {
    animation: shake 0.3s ease-in-out;
}

.left-side .clouds {
      opacity: 0.7;
    z-index: 0;
        max-width: 100%;
        width: 600px;
    position: absolute;
    top: -25px;
    right: 4px;
}

.left-side .grass {
    max-width: 100%;
    width: 600px;
    position: absolute;
    bottom: -25px;
    left: -3.75px;
    border-radius: 0 0 10px 10px;
}

.left-side, .right-side  { 
    display: flex; 
    /* padding: 10px; */
    /* padding: 0 80px; */
    flex-direction: column;
    align-items: center;
    /* margin: auto 20px; */
    justify-content: center;
    max-width: 100%;
    width: 50%;
}


.left-side {
    position: relative;
    margin: 20px  auto;
    border-radius: 15px;
    gap: 5px;
 
    /* border: 5px solid rgb(159, 187, 152); */
}


.links {
    position: absolute;
    
    
}

.links ul li  {
         box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    font-size: 20px;
     font-family: "Mali";
color: #8e2c2c;
 border: 5px #8e3f22 dashed;
  font-weight: 500;
    text-align: center;
    display: block;
    line-height: 1.5em;
        padding: 10px;
        width: 300px;
        border-radius: 10px;
        background-color: #d5724d;
           border: 5px #a54c2c dashed;
          margin-bottom: 20px;
         
         
}


.links ul {
    
    list-style-type: none;
     padding-left: 0;
     
}


.links a {
 color: #882c2c;
}

.links li:hover {
    border: 5px #8e3f22 dashed;
        transform: scale(1.1);
        background-color: #A54B29;
 
}

.links li:hover a {
   color: #540404;
}

.links li a {
    text-decoration: none;

}






.right-side {
    flex: 1;
    position: relative;
    z-index: 1;
    border: rgb(232, 130, 130) 5px solid ;
        background: url(images/red_gingham.png);
         box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        margin: 20px;
        padding: 20px;
        border-radius: 20px;
  
}

.writing {
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding:10px;
    height: 500px;
    border: #eedec8 5px solid ;
    text-align: center;
    line-height: 2em;
    border-radius: 20px;
    background-color: rgb(255, 237, 220);
    color: rgb(158, 52, 52);
}

.writing-research {
        overflow-y: scroll;
        border: #eedec8 5px solid ;
           box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    padding:10px;
    height:600px;
    text-align: center;
    line-height: 2em;
    border-radius: 20px;
    background-color: rgb(255, 237, 220);
    color: rgb(158, 52, 52);
}

.writing h2, .writing-research h2{
    font-family: "Chiron GoRound TC", sans-serif;
  font-weight:900;
  font-size: 40px;
  line-height: 1.2em;
  color: rgb(162, 65, 65);
  animation: pop 0.75s ease-in-out; 
}


.writing-research h3 {
     font-family: "Chiron GoRound TC", sans-serif;
  font-weight:900;
  font-size: 20px;
  line-height: 1.2em;
  color: rgb(162, 65, 65);
}


.writing-research a {
     font-size: 15px;
    font-weight: 400;
    text-align: left;
    margin: 15px;
    font-family: "Mali";
    text-decoration: none;
    padding: 15px;
    display: block;
    border-radius: 15px;
    border: 4px rgb(243, 168, 168) solid;
    background-color: rgb(250, 199, 199);
color: rgb(158, 52, 52);
}

.right-side a:hover {
    color: rgb(255, 223, 223);
     border: 4px rgb(195, 125, 125) solid;
    background-color: rgb(216, 152, 152);
}

@keyframes pop {
    0%{
        transform:scale(0.5);
    }

    50% {
        transform:scale(1.2);
    }
    
    100% {
        transform:scale(1);
    }
}


.writing p, .writing-research p {
    font-size: 18px;
    margin: 20px;
    font-weight: 400;
    text-align: justify;
    font-family: "Mali";
}

.signature {
    position: relative;
    top: -40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: self-end;
}
.signature img {
    max-width: 100%;
    width: 105px;
    position: absolute;
    top: 50px;
    right: 20px;


}

 .cat {
    max-width: 100%;
    width: 125px;
    position: absolute;
   bottom: 225px;
    right: 2px;
}






.sticky-notes {
    position: sticky;
    margin-left: 0;
     position: absolute;
    right: -20px;
}

.right-side ul li a, .sticky-notes ul li a { 
    text-decoration: none;
    
}

.sticky-notes ul {
    display:flex;
    flex-direction: column;
    gap: 15px;
   left: 40px;

}

.sticky-notes ul:hover {

    animation: slide 0.75s ease-in-out forwards;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0);
    }
    
}


.sticky-notes ul li {
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
     list-style-type: none;
     padding: 30px;
     width: 200px;
     border-radius: 0 8px 8px 0;
}



.red{
    background-color: #D98282;
}

.orange {
    background-color: #FFB03A;
}

.yellow {
background-color:#FFF0A5 ;
}

.green {

 background-color: #A54B29;
}



.line {
    z-index: 1;
    position: absolute;
    /* padding-top: 0;
    margin: 0; */
    top: 0px;
    width: 5px;
    max-width: 100%;
    max-height: 100%;
    height: 610px;
    padding: 1px;
    background-color: #E9DCCA;

}
.writing-research .analysis-image {
    max-width: 100%;
    width: 400px;
    border-radius: 10px;
    border: rgb(232, 130, 130) 4px solid ;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.writing-research figcaption {
font-family: "Chiron GoRound TC", sans-serif;
  font-weight:900;
  font-size: 15px;
}

.paper {
    
     box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
    gap: 10px;
    margin: auto;
    max-width: 100%;
   height: 600px;
    padding: 5px;
    background-color: #FFF8EE;
    border: #E9DCC9 5px solid;
    border-radius: 15px;
    display: flex; 
    /* align-items: center; */
    justify-content: space-around;
}



.letter-one:hover, .letter-three:hover {
    animation: shake 0.2s infinite ease-in-out
}
 
@keyframes shake {
    0% {
        rotate:calc(-3.5deg);
    }

    50% {
        rotate: calc(3.5deg);
    }

    100% {
        rotate: calc(-3.5deg);
    }
}


.broom {
    position: absolute; 
    max-width: 100%;
    width:95px;
    bottom: -30px;
    transform: rotate(90deg);
   left: 150px;
   animation: move 2s ease-in-out infinite;
}


@keyframes move {
    0% {
         transform: translateX(0) rotate(-90deg);
       
    }

    25% {
        transform:translateX(8px) rotate(-91deg);
    }

    50% {
        transform: translateX(-0px) rotate(-90deg);
    }

    75% {
        transform: translateX(-8px) rotate(-89deg);
    }

    100% {
        transform: translateX(0px) rotate(-91deg);  
    }
}

.bow {
    position: absolute;
    max-width: 100%;
     width: 150px;
     left: -15px;
     top: -10px;
     z-index: 2;
     transform: rotate(-35deg);
}






@keyframes loop {


    0% {
        transform: translateX(0) rotate(-2deg);
      
    }
    10% {
        transform: translateX(0) rotate(2deg);
    }
    20% {
        transform: translateX(0) rotate(-2deg);
    }


    30% {
        transform: translateX(20vw) rotate(75deg);
    }


    55% {
        transform: translateX(90vw) rotate(60deg);
        opacity: 1;
    }


    65% {
        transform: translateX(110vw) rotate(50deg);
        opacity: 0;
    }

  
    66% {
        transform: translateX(-200px);
        opacity: 0;
    }


    80% {
        transform: translateX(-200px) rotate(-3deg);
        opacity: 1;
    }

    100% {
        transform: translateX(0) rotate(3deg);
        opacity: 1;
    }
}

footer {
    background: url(images/footer\ \(4\).png);
    height: 200px;
    padding: 20px;
    display: flex; 
    flex-direction: column;
   gap: 5px;
   justify-content: center;
   align-items: center;
    text-align: center;
}


footer p {
     font-family: "Chiron GoRound TC", sans-serif;
  font-weight:900;
      color: #383c10;
     font-size: 22px;
}


.footer-connect a {
      font-family: "Mali";
    font-weight: 600;
 background-color:#eadfa5 ;
 border: 4px rgb(222, 197, 123) solid;
    padding: 20px;
    display: inline-block;
    width: 200px;
    font-size: 18px;
    border-radius: 10px;
    text-decoration: none;
    color: rgb(199, 151, 7);
    margin: 10px;
}

.footer-connect a:hover {
    transform: scale(1.05);
     background-color:#eddb85 ;
}


